<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>

<html>
    <body>
        <img src="/images/error.jpg" alt="" class="center">
    </body>
</html>
